@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}
.main {
    display: grid;
    flex: 1 1 auto;
    grid-template: minmax(250px, max-content) minmax(120px, max-content) minmax(250px, max-content) / 1fr;
    row-gap: 15px;
    padding: 0 20px;
    max-width: 1349px;
}
