@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}
.main {
    display: grid;
    grid-template: minmax(250px, auto) minmax(120px, auto) minmax(250px, auto) / 1fr;
    row-gap: 15px;
    padding: 0 20px;
}
