@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}

.currentWeather {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    column-gap: 10px;
}
@media screen and (max-width: 600px), (orientation: portrait)  {
    .currentWeather {
        display: grid;
        row-gap: 10px;
        grid-template: 1fr 1fr / 1fr;
    }    
}