@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}

.currentWeather {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    column-gap: 10px;
}
@media screen and (max-width: 600px) {
    .currentWeather {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }    
}
