@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}
%slideButton {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    display: flex;
    justify-content: center;
    color: #41515a;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        transform: scale(1.09);
    }
    &:active {
        transition: 0.1s;
        transform: scale(1.0)
    }
    &:disabled {
      opacity: 0.5;
      transform: scale(1.0);
      background-color: rgba($color: #ffffff, $alpha: 0.2);
    }
}
.forecastDetails {
    display: grid;
    grid-template: minmax(40px, auto) 1fr/ 1fr;
    position: relative;
    width: 100%;
    @extend %border;
    &__nav {
        border-bottom: 1px solid #BACDD9;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }
    &__canvasContainer {
        overflow: hidden;
    }
    &__sliderButtonLeft {
        position: absolute;
        z-index: 2;
        right: calc(100% - 20px);
        @extend %slideButton;
    }
    &__sliderButtonRight {
        position: absolute;
        left: calc(100% - 20px);
        @extend %slideButton;
    }
}
