@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
    color: #455159;
}
.forecastFor3Days {
    display: flex;
    gap: 10px;
    &__dailyForecast {
        display: grid;
        grid-template: min-content 1fr 1fr / 1fr 1fr;
        width: 40%;
        @extend %border;
        cursor: pointer;
        &__day {
            padding: 10px;
            grid-column-start: 1;
            grid-column-end: 3;
            align-self: center;
        }
        &__img {
            justify-self: center;
            grid-column-start: 1;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        &__item {
            align-self: flex-start;
            justify-self: center;
        }
    }
    &__selected {
        display: grid;
        grid-template: min-content 1fr 1fr / 1fr 1fr 1fr;
        width: 60%;
        background-color: #9FB3BF;
        border-radius: 5px;
        font-weight: 600;
        color: #3a3f42;
        cursor: pointer;
        &__item {
            padding: 10px;
            align-self: center;
            justify-self: center;
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
    }
}
@media screen and (max-width: 600px) {
    .forecastFor3Days {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__selected {
            width: 100%;
        }
        &__dailyForecast {
            width: 100%;
        }
    }        
}