@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
    color: #455159;
}
.forecastFor3Days {
    display: grid;
    column-gap: 10px;    
    grid-template:  1fr/ 1fr 1fr 1fr;
    &__dailyForecast {
        min-width: 150px;
        @extend %border;
    }
    &__dailyForecast_selected {
        min-width: 550px;
        background-color: #9FB3BF;
        border-radius: 5px;
    }
}