@import '../../App.scss';

%border {
    background-color: $b-cMain;
    border-radius: 5px;
}
.hourlyForecast {
    display: grid;
    overflow: hidden;
    grid-template: minmax(40px, auto) 1fr/ 1fr;
    @extend %border;
    &__nav {
        border-bottom: 1px solid #BACDD9;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }
    &__canvasContainer {
        overflow: hidden;
    }
    &__hourly {
        color: #6D808C;
        padding: 30px;
        width: 100vw;
    }
}