.forecastDetails__hourly {
    color: #41535e;
    padding: 5px 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}
.forecastDetails__time__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 113.5px;
}
.forecastDetails__hourlyItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 113.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom,#9FB3BF ,  #DCEAF2);
    padding: 5px 15px 10px;
    &__img {
        max-width: 50%;
        margin: 0 0 -5px -5px;
    }
    &__temp {
        font-size: 16px;
        font-weight: 600;
    }
    &__condition {
        font-size: 12px;
        height: 33px;
    }
    &__precip {
        align-self: flex-start;
        font-size: 12px;
        &::before{
            content: url('../../assets/drop.png');
            margin-right: 5px;
        }
    }
    &__wind {
        align-self: flex-start;
        font-size: 12px;
        &::before{
            content: url('../../assets/wind.png');
            margin-right: 5px;
            margin-left: -5px;
        }
    }
}