@import '../../App.scss';

.navbar {
    background-color: $b-cNav;
    display: flex;
    justify-content: center;
    width: 100%;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding: 10px 30px;    
        min-width: 1349px;
        position: relative;
    }
    &__searchCityContainer {
        position: relative;
        margin-right: auto;
    }
    &__autocomplete {
        position: absolute;
        height: auto;
        width: 100%;
        background:#9FB3BF;
        top: 30px;
        box-shadow: 5px 5px 5px #545e64;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &__searchCity {
        height: 30px;
        width: 250px;
        background: #DCEAF2;
        box-shadow: 0 3px 5px #424d53;
        border-radius: 15px;
        padding: 0 25px;
        font-size: 14px;
        color: #6D808C;
    }
}